<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--告知Spring，我们启用注解驱动-->
    <mvc:annotation-driven/>

    <mvc:annotation-driven validator="validator"/>

    <!-- 数据验证 Validator bean -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.apache.bval.jsr.ApacheValidationProvider" />
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean id="caFaceAuthAspect" class="com.shadow.aop.LogAspect"/>

    <!-- 使用注解的包，包括子集 -->
    <!--<context:component-scan base-package="com.shadow.controller"/>-->
    <!--<context:component-scan base-package="com.shadow.service"/>-->
    <!--<context:component-scan base-package="com.shadow.dao"/>-->
    <context:component-scan base-package="com.shadow" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>

    <!--<mvc:resources mapping="/resources/**" location="/" />-->

    <!-- velocity配置 -->
    <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="WEB-INF/velocity/"/>
        <property name="configLocation" value="/WEB-INF/velocity.properties"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="layoutUrl" value="layout.vm"/>
        <property name="suffix" value=".vm"/>
        <property name="contentType">
            <value>text/html;charset=UTF-8</value>
        </property>
    </bean>

</beans>